
@media screen and (max-width: 1366px){
	.map-link .map-block .all-links {width: 27%;}
	  .map-link:after {  background: url(../img/arrow-top2.png) 55%;}
	.slider .invest-project{right: -5%; bottom: 80px;	}
	.slider .slide-text{	left: -5%;	bottom: 155px;	}
	.arrow-to-top{	right: 0 !important;	bottom: 0 !important;}
	.block-links-four,.block-links-three,.block-links-two,.block-links-one{width: 55px;}
}
@media screen and (max-width: 1225px){
	.map-link .map-block .all-links {width: 29%;}
	.wrapper .header-bottom{ background: rgba(24, 30, 40,1);}
	/*.wrapper .slider{top: 155px;}*/
}
@media screen and (max-width: 1100px){
	.invest-project .all-links{
		margin: -40px auto;
	}
	.map-link .map-block .all-links {width: 33%;}
	.block-links-four,.block-links-three,.block-links-two,.block-links-one{display: none;}
	  .map-link:after {  background: url(../img/arrow-top2.png) 54%;}
	  .invest-project .title-invest-project{height: 45px; line-height: 45px;     right: 200px;
    top: 156px;
    position: relative;
    transform: rotate(-90deg);}
    .invest-project ul{    position: relative;
    bottom: 43px;}
	  .invest-project ul li a{padding: 12px 0;  padding-left: 75px;}
	  .invest-project .all-project{padding: 12px 0 12px 60px; margin-top: 10px; margin-bottom: 5px;    position: relative;
    bottom: 40px;}
	.slider .invest-project{left: 5%;height: 355px;	}
	.slider .slide-text{	left: 45%; bottom: 200px;	    padding-left: 7px;
    height: 85px;
    width: 488px;}
    .wrapper .slider .slide-text .slide-all-text{    padding-top: 23px;}
    .wrapper .slider .slide-text .slide-all-text .slide-text-block{    font-size: 16px;}
    
}
@media screen and (max-width: 1000px){
	.project-name{margin-top: 50px;}
	.project-block{width: 100%;}
	.title-page,.breadcrumb{
		bottom: -12px;
	}
	
	.text-block img{width: 100%; height: auto;}
	.map-link .map-block .all-links {width: 35%;}
	.contant-block .contest-block p{margin-left: 0;}
	.containers{width: 768px;}
	.slide-text{padding-left: 10px;
		width: 400px;}
		.footer .inform-block p{font-size: 16px;
			line-height: 1.3;}
			.footer .Subscription input[type="submit"]{
				width: 182px; margin-left: 0; margin-top: 5px;
			}
	.soc-ic,.med-ic,.en-ic,.tran-ic,.ek-ic,.elek-ic,.peap-ic{background: none;}
.invest-project ul li .peap-ic:hover,.invest-project ul li .elek-ic:hover,.invest-project ul li .ek-ic:hover,.invest-project ul li .tran-ic:hover,.invest-project ul li .soc-ic:hover,.invest-project ul li .en-ic:hover,.invest-project ul li .med-ic:hover{background: none;}

	  .map-link:after {  background: url(../img/arrow-top2-mini.png) 45%;}
	  .search input[type='text']{margin-left: 100px;}
	  .wrapper .header .head-links{line-height: 20px;}
	  .wrapper .header-bottom .mini-width .lang{	margin-right: 100px;  }
	  .wrapper .header-bottom{height: 130px;}
	  .success-story .carusel-arrow-next,.success-story .carusel-arrow-prev{top: 140px;}
	  .invest-project ul li a img{display: none;}
	  .invest-project ul li a{padding: 10px 0px 10px 20px;}
	  .invest-project .all-project{    padding: 11px 0 11px 10px;}
	  .slider .invest-project{left: 0%; height: 320px; width: 290px;}
	  .invest-project .title-invest-project{right: 168px; top: 120px;}
	  .footer .inform-block{margin-bottom: 35px;}
	  .contant-block .contest-block>.contest-link{width: 75%;}
	  .slider .slide-text{left: 40%;}
	  .footer i{right: 270px;}
	.news-blocks .info-block .all-links,.map-link .map-block .all-links,.invest-project .all-links,.success-story .all-links, .contant-block .all-links,.contant-block .ad-contest-block .all-links{background:none;margin-right: 50px;}
	.news-blocks .info-block .all-links:hover,.invest-project .all-links:hover,.success-story .all-links:hover, .contant-block .all-links:hover,.contant-block .ad-contest-block .all-links:hover{background:#013c5e;}
	.map-link .map-block .all-links:hover{background: white;}
	.contant-block.gray-block.arrow-gray.form-page{
		    top: 7px;
	}
	.releases-right{width: 99%; padding-left: 1%;}
}
@media screen and (max-width: 900px){

	.slider .slide-text{width: 415px; left: 45%;}
	.slider .invest-project{left: 5%;}
}

@media screen and (max-width: 800px){
	/*.date-preg{margin-left: 10px;}*/
	.right-preg,.left-preg{width: 90%; margin: 0 auto; display: block;float: none;}

	.releases-block.press-page{height: auto;
		padding-bottom: 15px;}
	.invest-project .all-links { margin: 5px auto; }
	.title-page,.breadcrumb{
		bottom: -35px;
	}
.news-blocks .info-block{width: 100%;}
.wrapper .header{	height: 65px;}
.wrapper .header .tel,.wrapper .header .info{width: 155px;}
	.containers{width: 600px;}
	.wrapper .header .head-links{float: none;     width: 28%;
    text-align: center; padding: 0;
    display: inline-block;}
	.wrapper .header-bottom .mini-width .lang,.search{width: 100%; text-align: center;}
	.search input[type='text']{margin: 0 auto;    position: relative;
    width: 40%;
    left: 13px;}
	.wrapper .header-bottom{height: 150px;}

	/*.slider .slide-text{left: 20%; height: 80px; bottom: 120px;}*/
	.wrapper .slider .slide-text .slide-all-text{padding-top: 10px;}
	.wrapper .slider .slide-text .arrow-prev{bottom: 0px;right: 20px;}
	.wrapper .slider .slide-text .arrow-next{bottom: 0px;right: 0px;}
	/*.slider .invest-project{right: 20%; width: 328px; bottom: 205px;}*/
	.invest-project .title-invest-project{font-size: 22px;height: 50px; line-height: 50px;}
	.invest-project ul li a{width: 100%; font-size: 14px; }
	.invest-project .all-project{padding: 15px 0px 15px 15px;}
	.contant-block .contest-block{width: 100%;}
	.contant-block .contest-block:nth-child(2n){margin-left: 0;}
	.map-link:after{background: url(../img/arrow-top.png) center;height: 44px;}
	.success-story .carusel-arrow-next, .success-story .carusel-arrow-prev{top: 133px;}
	.success-story .carusel-arrow-prev{    height: 28px;width: 26px;background: url(../img/other/carusel-arrow-prev.jpg) center;}
	.success-story .carusel-arrow-next{    height: 28px;width: 26px;background: url(../img/other/carusel-arrow-next.jpg) center;}
	.wrapper .slider:after,.paginator,.slider-container{display: none;}
	.invest-project .title-invest-project{position: static; transform:none;}
	.slider .invest-project{left: 0; height: auto;}
	.invest-project .all-project,.invest-project ul{position: static;}
	.slider .invest-project{bottom: 37px; width: 100%;}
	.invest-project ul li a{padding: 12px 0 12px 0px;}
	.slider .slide-text{width: 365px;
		height: 100px;}
		.wrapper .slider .slide-text .slide-all-text{padding-top: 25px;}
		.contant-block .contest-block p{padding-left: 10px;}
		.footer i{right: 40px;top: 200px;}
   .news-blocks .info-block .info{padding-bottom: 20px; margin-bottom: 5px;}
	.news-blocks .info-block .all-project{margin-top: 0; margin-bottom: 80px;}
	.wrapper .header-bottom .mini-width .lang{width: 70px;
    float: none;
    margin: 0 auto;}
	.slide-text{display: none;}
	.invest-project ul li a{text-align: center;}
	.menu-head-popup a{padding: 15px 0px;}
	.map-link .map-block .all-links,.news-blocks .info-block .all-links,.success-story .all-links, .contant-block .all-links{width: 80%;display: block; margin:15 auto;}
 .contant-block.gray-block.arrow-gray.form-page{ top: 35px;}
}

@media screen and (max-width: 720px){
	.cos-link ul{display: block;}
	.empty-block-header{height: 133px;}
	  .footer i:last-child{ float: left;}
	.tablet{display: block;       padding-left: 10px;}
	.menu-head-popup{margin-top: 33px;}
	.news-blocks .info-block .info{margin-bottom: 15px;}
	.news-blocks .info-block .all-project{margin-top: 0; margin-bottom: 70px;}
	.footer .Subscription input[type="submit"]{margin-top: 0;}
	.footer ,.wrapper{
		overflow:hidden;
	}
	.wrapper{bottom: 15px;}
	.wrapper .header-bottom .mini-width{width: 100%;}
	.menu-head{display: none;}
	.wrapper .header .head-links{display: none;}
	.wrapper .header .info{margin-left: 0;}
	.slider{background: #f2f2f2;}
	.wrapper .header{	height:115px;  bottom: 0;}
	.wrapper .header-bottom{top: 95px; height: 140px;}
	.wrapper .slider{position: relative;height: 557px;}
	.slider .invest-project{right: 0%;bottom: 5px; width: 100%;}
	.empty-block{display: none;}
	.contant-block .ad-contest-block{    width: 75%;
    float: none;
    margin: 0 auto;}
    .contant-block .ad-contest-block:first-child{
    	padding-bottom: 25px;
    margin: 0 auto;}
    .containers {width: 100%;}
    .carusel,.carusel-arrow-prev,.carusel-arrow-next{display: none;}
    .footer .inform-block,.footer .Subscription{width: 100%; margin-bottom: 25px;}
	.invest-project ul li a {width: 100%;}
    .menu-head-popup{display: block;}
    .contant-block .contest-block{padding-left: 5%;}
     .search{width: 100%;}
     /*.wrapper .header-bottom .mini-width .lang{    background: url(../img/other/arrow-lang.png) no-repeat 60% center; }*/
   .Subscription,.inform-block, .news-blocks .info-block .info{padding-left: 2%;}
   .contant-block .all-project{float: right; margin-right: 25px;     padding: 15px 0px 15px 20px;}
   .head-links{ display: none;}
   .logo2{position: absolute; right: 0; top: 0;}
   .search input[type='text']{margin-top: 30px;
   	position: relative; left: 10px; width: 80%; height: 25px;}
   	.lightbox{
   		padding-top: 35%;
   	}
}
@media screen and (max-width: 585px){
	.releases-block.press-page img{
		clear: both;
	}
	.releases-block.press-page a,.releases-block.press-page p{float: left;}
	.empty-block-header{height: 105px;}
	.tablet{    margin-bottom: 80px;}
	  .contant-block .contest-block>.contest-link{width: 65%;}
	.contant-block .contest-block p{padding-left: 0; width: 90%;}
	/*.logo2{display: none;}*/
	.news-blocks .info-block .info{height: 170px;}
	.footer .inform-block, .footer .Subscription{margin-bottom: 40px;}
	.footer i{bottom: 0;right: 0; top: -150px;}
	.wrapper .slider{height: 615px;}
	.menu-head-popup{margin-top: 29px;}
	.search{text-align: center; margin-top: 30px;}
	.contant-block .ad-contest-block,.contant-block .contest-block,.news-blocks .info-block .info{margin-bottom: 0; padding-bottom: 55px; padding-top: 10px; border-top:1px solid gray;}
	.contant-block .ad-contest-block:last-child,.contant-block .contest-block:last-child,.news-blocks .info-block .info:last-child{border:0;}
	.map-link .map-block .all-project{
    padding: 15px 0px 15px 25px;}
    .wrapper .header .info{    position: relative;
    right: 150px;
    top: 50px;}
    .contant-block .ad-contest-block, .contant-block .contest-block, .news-blocks .info-block .info{padding-bottom: 20px;}
    .contant-block .ad-contest-block{width: 90%;}
}
@media screen and (max-width: 460px){
	.wrapper .header .tel{line-height: 40px;}
	
	.wrapper .header-bottom{height: 165px;}
	.menu-head-popup{margin-top: 28px;}
	.wrapper .header .tel,.wrapper .header .info{ background: none;}
	.wrapper .header .info{  position: absolute;    left: 130px;
    top: 50px;}
    .wrapper .header .tel, .wrapper .header .info{width: 134px; padding-left: 10px; text-align: left;}
    .project-block {
    height: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
}
}
@media screen and (max-width: 410px){
	.news-blocks .info-block .all-project{background: white;}
	.invest-project .all-project{background: none;}
	  .contant-block .contest-block>.contest-link{width: 50%;}
	.news-blocks .info-block .info{height: 200px;}
	.news-blocks .info-block .all-project{margin-top: 50px;}
	.wrapper .header-bottom .mini-width .lang{display: none;}
	.wrapper .header .tel{position: relative;
		top: 180px; left: 25px;} 
		.wrapper .header .info{line-height: 0px; position: relative;
		top: 160px; left: -100px;}
		.search{    position: relative;
    top: 10px;
    left: 0;}
    .mobile{display: block;}
    .dest{display: none;}
    .success-story .all-project,.news-blocks .info-block .all-project,.contant-block .all-project{margin-right: 14%;}
}
@media screen and (max-width: 410px){
	.search input[type='text']{width: 78%;}
	.success-story .all-project,.news-blocks .info-block .all-project, .contant-block .all-project{margin-right: 8%;}
}